@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

$background-color: rgb(242, 236, 249);
$dark-purple: rgb(54, 5, 99);
$light-purple: rgb(224, 201, 245);
$cyne: rgb(93, 206, 254);
$pink: rgba(228, 84, 175, 0.644);
$height: 100vh;
$width: 100vw;

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color !important;
  font-family: "Rajdhani", sans-serif !important;
}

@mixin flexContent($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

@mixin x-small-devices {
  .header {
    height: 80vh;

    .navBar {
      .nav-link {
        font-size: large;
      }
    }

    .banner {
      @include flexContent(column, space-around);
    }
  }

  .features-section {
    height: 130vh;

    .features-section-container {
      @include flexContent(column, space-evenly);
    }

    .features-pictures-container {
      margin: 1rem;

      .row {
        .fas {
          font-size: 2rem;
        }
      }
    }
  }
}

@mixin small-devices {
  .header {
    height: $height;

    .navBar {
      .nav-link {
        font-size: larger;
      }
    }

    .banner {
      @include flexContent(column, space-around);
    }
  }

  .features-section {
    height: $height;

    .features-section-container {
      @include flexContent(column, space-evenly);
    }

    .features-pictures-container {
      margin: 1rem;

      .row {
        .fas {
          font-size: 2rem;
        }
      }
    }
  }
}

@mixin medium-devices {
  .header {
    height: 80vh;

    .navBar {
      .nav-link {
        font-size: x-large;
      }
    }

    .banner {
    }
  }

  .features-section {
    .feature-paragraph {
      width: 80vw;
    }
  }
}

// styles for devices with => 1024px

.header {
  @include flexContent(column, space-around);
  height: $height;
  width: $width;
  background-color: $dark-purple;
  padding: 1rem 2rem;
  text-align: left;

  .navBar {
    width: $width;

    button.navbar-toggler {
      color: $pink;
      background-color: $cyne;
    }

    .nav-link,
    .navbar-brand {
      margin-right: 1.5rem;

      &:hover {
        color: $cyne !important;
      }
    }

    .nav-link {
      color: $light-purple !important;
      font-size: x-large;
    }

    .navbar-brand {
      color: $pink !important;
      font-size: xx-large;
    }
  }

  .banner {
    @include flexContent(row, space-evenly);
    color: $light-purple;

    .Str {
      font-size: xx-large;
      color: $cyne;

      span {
        padding: 2rem;
        color: $light-purple;
        background-color: $pink;
        border-radius: 100%;
      }
    }

    sup {
      color: $pink;
    }
  }
}

.features-section {
  @include flexContent(column, space-around);

  .feature-paragraph {
    width: 60vw;
    text-align: justify;
  }

  .features-section-container {
    @include flexContent(row, space-around);
  }

  .features-pictures-container {
    .row {
      .dev {
        background-color: $dark-purple;

        .fas {
          color: $light-purple;
        }

        h5 {
          color: $light-purple;
        }
      }

      .responsive {
        background-color: $pink;
      }

      .skills {
        background-color: $cyne;
      }

      .design {
        background-color: $light-purple;
      }

      .skills,
      .design,
      .responsive {
        .fas {
          color: $dark-purple;
        }

        h5 {
          color: $dark-purple;
        }
      }

      .fas {
        font-size: 3rem;
      }

      .col {
        padding: 2rem;
      }
    }

  }
}

// Footer.js
.footer {
  @include flexContent(row, center);
  background-color: $dark-purple;
  color: $light-purple;
  padding: 2rem;

  .footerContainer {
    @include flexContent(column, center);
    height: 10vh;
  }

  .iconsContainer {
    @include flexContent(row, space-evenly);

    .icon {
      color: $light-purple;
      font-size: 2rem;
    }
  }

  @media (max-width: 575.98px) {
    font-size: smaller;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: smaller;
  }
}

@media (max-width: 480px) {
  @include x-small-devices();
}

@media (min-width: 480px) and (max-width: 768px) {
  @include small-devices();
}

@media (min-width: 768px) and (max-width: 1024px) {
  @include medium-devices();
}
