@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f2ecf9 !important;
  font-family: "Rajdhani", sans-serif !important;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #360563;
  padding: 1rem 2rem;
  text-align: left;
}

.header .navBar {
  width: 100vw;
}

.header .navBar button.navbar-toggler {
  color: rgba(228, 84, 175, 0.644);
  background-color: #5dcefe;
}

.header .navBar .nav-link,
.header .navBar .navbar-brand {
  margin-right: 1.5rem;
}

.header .navBar .nav-link:hover,
.header .navBar .navbar-brand:hover {
  color: #5dcefe !important;
}

.header .navBar .nav-link {
  color: #e0c9f5 !important;
  font-size: x-large;
}

.header .navBar .navbar-brand {
  color: rgba(228, 84, 175, 0.644) !important;
  font-size: xx-large;
}

.header .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e0c9f5;
}

.header .banner button {
  border: 0;
  background-color: #5dcefe;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  color: whitesmoke;
  position: relative;
  right: -6rem;
}

.header .banner button:hover {
  background-color: rgba(228, 84, 175, 0.644);
  color: #e0c9f5;
}

.header .banner .Str {
  font-size: xx-large;
  color: #5dcefe;
}

.header .banner .Str span {
  padding: 2rem;
  color: #e0c9f5;
  background-color: rgba(228, 84, 175, 0.644);
  border-radius: 100%;
}

.header .banner sup {
  color: rgba(228, 84, 175, 0.644);
}

.features-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-section .feature-paragraph {
  width: 60vw;
  text-align: justify;
}

.features-section .features-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-section .features-pictures-container .row .dev {
  background-color: #360563;
}

.features-section .features-pictures-container .row .dev .fas {
  color: #e0c9f5;
}

.features-section .features-pictures-container .row .dev h5 {
  color: #e0c9f5;
}

.features-section .features-pictures-container .row .responsive {
  background-color: rgba(228, 84, 175, 0.644);
}

.features-section .features-pictures-container .row .skills {
  background-color: #5dcefe;
}

.features-section .features-pictures-container .row .design {
  background-color: #e0c9f5;
}

.features-section .features-pictures-container .row .skills .fas,
.features-section .features-pictures-container .row .design .fas,
.features-section .features-pictures-container .row .responsive .fas {
  color: #360563;
}

.features-section .features-pictures-container .row .skills h5,
.features-section .features-pictures-container .row .design h5,
.features-section .features-pictures-container .row .responsive h5 {
  color: #360563;
}

.features-section .features-pictures-container .row .fas {
  font-size: 3rem;
}

.features-section .features-pictures-container .row .col {
  padding: 2rem;
}

.news-section {
  height: 90vh;
  background-color: #360563;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.news-section .news-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-section .news-section-container .image-Box {
  padding: 1rem;
}

.news-section .news-section-container .image-Box img {
  box-shadow: 29px 35px 0px -2px #e454af;
  -webkit-box-shadow: 29px 35px 0px -2px #e454af;
  -moz-box-shadow: 29px 35px 0px -2px #e454af;
  z-index: 1;
}

.news-section .news-section-container .striped-Box {
  padding: 1rem;
  background: repeating-linear-gradient(-55deg, transparent, transparent 20px, rgba(228, 84, 175, 0.644) 40px, rgba(228, 84, 175, 0.644) 40px);
}

.news-section .news-section-container .striped-Box .container-fluid {
  width: 45vw;
  background-color: #360563;
  padding: 2rem;
  z-index: 2;
}

.news-section .news-section-container .striped-Box .container-fluid .card-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-section .news-section-container .striped-Box .container-fluid .card-header-container i {
  border: 0;
  color: #5dcefe;
}

.news-section .news-section-container .striped-Box .container-fluid .card-header-container i:hover {
  color: #e0c9f5;
}

.news-section .news-section-container .striped-Box .container-fluid .card-header-container h1 {
  color: #5dcefe;
}

.news-section .news-section-container .striped-Box .container-fluid .card {
  background: transparent;
  color: #e0c9f5;
  border: 0;
}

.news-section .news-section-container .striped-Box .container-fluid .card .cus-text-muted {
  color: rgba(228, 84, 175, 0.644);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #360563;
  color: #e0c9f5;
  padding: 2rem;
}

.footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.footer .iconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .iconsContainer .icon {
  color: #e0c9f5;
  font-size: 2rem;
}

@media (max-width: 575.98px) {
  .footer {
    font-size: smaller;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer {
    font-size: smaller;
  }
}

@media (max-width: 480px) {
  .header {
    height: 80vh;
  }
  .header .navBar .nav-link {
    font-size: large;
  }
  .header .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features-section {
    height: 130vh;
  }
  .features-section .features-section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features-section .features-pictures-container {
    margin: 1rem;
  }
  .features-section .features-pictures-container .row .fas {
    font-size: 2rem;
  }
  .news-section {
    height: 80vh;
  }
  .news-section .news-section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-section .news-section-container .striped-Box .container-fluid {
    width: 100%;
    padding: 0;
  }
  .news-section .news-section-container .striped-Box .container-fluid .card-header-container h1,
  .news-section .news-section-container .striped-Box .container-fluid .card-header-container i {
    font-size: larger;
  }
  .news-section .news-section-container .striped-Box .container-fluid .card {
    font-size: small;
  }
  .news-section .news-section-container .striped-Box .container-fluid .card h4 {
    font-size: large;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .header {
    height: 100vh;
  }
  .header .navBar .nav-link {
    font-size: larger;
  }
  .header .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features-section {
    height: 130vh;
  }
  .features-section .features-section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features-section .features-pictures-container {
    margin: 1rem;
  }
  .features-section .features-pictures-container .row .fas {
    font-size: 2rem;
  }
  .news-section {
    height: 100vh;
  }
  .news-section .news-section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-section .news-section-container .striped-Box .container-fluid {
    width: 100%;
    padding: 0;
  }
  .news-section .news-section-container .striped-Box .container-fluid .card-header-container h1,
  .news-section .news-section-container .striped-Box .container-fluid .card-header-container i {
    font-size: xx-large;
  }
  .news-section .news-section-container .striped-Box .container-fluid .card {
    font-size: large;
  }
  .news-section .news-section-container .striped-Box .container-fluid .card h4 {
    font-size: x-large;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: 80vh;
  }
  .header .navBar .nav-link {
    font-size: x-large;
  }
  .features-section .feature-paragraph {
    width: 80vw;
  }
}
/*# sourceMappingURL=styles.css.map */