@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

$background-color: rgb(242, 236, 249);
$dark-purple: rgb(54, 5, 99);
$light-purple: rgb(224, 201, 245);
$cyne: rgb(93, 206, 254);
$pink: rgba(228, 84, 175, 0.644);
$height: 100vh;
$width: 100vw;

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color !important;
  font-family: "Rajdhani", sans-serif !important;
}

@mixin flexContent($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

@mixin header-section($section-height, $nav-link-size) {
  .header {
    height: $section-height;

    .navBar {
      .nav-link {
        font-size: $nav-link-size;
      }
    }

    .banner {
      @include flexContent(column, space-around);
    }
  }
}

@mixin features-section($section-height) {
  .features-section {
    height: 130vh;

    .features-section-container {
      @include flexContent(column, space-evenly);
    }

    .features-pictures-container {
      margin: 1rem;

      .row {
        .fas {
          font-size: 2rem;
        }
      }
    }
  }
}

@mixin news-section($section-height, $card-header, $card-title, $card-text) {
  .news-section {
    height: $section-height;

    .news-section-container {
      @include flexContent(column, space-between);

      .striped-Box {
        .container-fluid {
          width: 100%;
          padding: 0;

          .card-header-container {
            h1,
            i {
              font-size: $card-header;
            }
          }

          .card {
            font-size: $card-text;
          }

          .card h4 {
            font-size: $card-title;
          }
        }
      }
    }
  }
}

@mixin x-small-devices {
  @include header-section(80vh, large);
  @include features-section(130vh);
  @include news-section(80vh, larger, large, small);
}

@mixin small-devices {
  @include header-section($height, larger);
  @include features-section($height);
  @include news-section($height, xx-large, x-large, large);
}

@mixin medium-devices {
  .header {
    height: 80vh;

    .navBar {
      .nav-link {
        font-size: x-large;
      }
    }
  }

  .features-section {
    .feature-paragraph {
      width: 80vw;
    }
  }
}

// styles for devices with => 1024px

#btnScrollToUp{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    background-color: $cyne;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    color: whitesmoke;
    outline: none;
    cursor: pointer;

    &:active{
        background-color: rgb(54, 157, 201);
    }
}

.header {
  @include flexContent(column, space-around);
  height: $height;
  width: $width;
  background-color: $dark-purple;
  padding: 1rem 2rem;
  text-align: left;

  .navBar {
    width: $width;

    button.navbar-toggler {
      color: $pink;
      background-color: $cyne;
    }

    .nav-link,
    .navbar-brand {
      margin-right: 1.5rem;

      &:hover {
        color: $cyne !important;
      }
    }

    .nav-link {
      color: $light-purple !important;
      font-size: x-large;
    }

    .navbar-brand {
      color: $pink !important;
      font-size: xx-large;
    }
  }

  .banner {
    @include flexContent(row, space-evenly);
    color: $light-purple;

    button {
      border: 0;
      background-color: $cyne;
      border-radius: 3rem;
      padding: 0.5rem 1rem;
      color: whitesmoke;
      position: relative;
      right: -6rem;

      &:hover {
        background-color: $pink;
        color: $light-purple;
      }
    }

    .Str {
      font-size: xx-large;
      color: $cyne;

      span {
        padding: 2rem;
        color: $light-purple;
        background-color: $pink;
        border-radius: 100%;
      }
    }

    sup {
      color: $pink;
    }
  }
}

.features-section {
  @include flexContent(column, space-around);

  .feature-paragraph {
    width: 60vw;
    text-align: justify;
  }

  .features-section-container {
    @include flexContent(row, space-around);
  }

  .features-pictures-container {
    .row {
      .dev {
        background-color: $dark-purple;

        .fas {
          color: $light-purple;
        }

        h5 {
          color: $light-purple;
        }
      }

      .responsive {
        background-color: $pink;
      }

      .skills {
        background-color: $cyne;
      }

      .design {
        background-color: $light-purple;
      }

      .skills,
      .design,
      .responsive {
        .fas {
          color: $dark-purple;
        }

        h5 {
          color: $dark-purple;
        }
      }

      .fas {
        font-size: 3rem;
      }

      .col {
        padding: 2rem;
      }
    }
  }
}

.news-section {
  height: 90vh;
  background-color: $dark-purple;
  @include flexContent(column, center);
  padding: 2rem;

  .news-section-container {
    @include flexContent(row, space-evenly);
    .image-Box {
      padding: 1rem;

      img {
        box-shadow: 29px 35px 0px -2px rgb(228, 84, 175);
        -webkit-box-shadow: 29px 35px 0px -2px rgb(228, 84, 175);
        -moz-box-shadow: 29px 35px 0px -2px rgb(228, 84, 175);
        z-index: 1;
      }
    }

    .striped-Box {
      padding: 1rem;
      background: repeating-linear-gradient(
        -55deg,
        transparent,
        transparent 20px,
        $pink 40px,
        $pink 40px
      );

      .container-fluid {
        width: 45vw;
        background-color: $dark-purple;
        padding: 2rem;
        z-index: 2;

        .card-header-container {
          @include flexContent(row, space-between);

          i {
            border: 0;
            color: $cyne;

            &:hover {
              color: $light-purple;
            }
          }

          h1 {
            color: $cyne;
          }
        }

        .card {
          background: transparent;
          color: $light-purple;
          border: 0;

          .cus-text-muted {
            color: $pink;
          }
        }
      }
    }
  }
}

// Footer.js
.footer {
  @include flexContent(row, center);
  background-color: $dark-purple;
  color: $light-purple;
  padding: 2rem;

  .footerContainer {
    @include flexContent(column, center);
    height: 10vh;
  }

  .iconsContainer {
    @include flexContent(row, space-evenly);

    .icon {
      color: $light-purple;
      font-size: 2rem;
    }
  }

  @media (max-width: 575.98px) {
    font-size: smaller;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: smaller;
  }
}

@media (max-width: 480px) {
  @include x-small-devices();
}

@media (min-width: 480px) and (max-width: 768px) {
  @include small-devices();
}

@media (min-width: 768px) and (max-width: 1024px) {
  @include medium-devices();
}
